{% extends 'base.html.twig' %}

{% block title %}Nuevo amigo{% endblock %}
{% block body %} 
	<h1>Nuevo amigo</h1>
	<span style="color:blue; font-size: 1.5em; background-color: #cee3f8">{{status}}</span>
	<div>
    {{ include('alumnos/_form.html.twig') }}	 
	</div>
    <a href="{{ path('alumnos_index') }}">Volver a la lista</a>
	
{% endblock %}
