{% extends 'base.html.twig' %}

{% block title %}Editar Materia{% endblock %}

{% block body %}
    <h1>Edit Horarios</h1>

    {{ include('horarios/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('horarios_index') }}"><i class='fa fa-reply-all fa-2x'></i></a>
    
    {{ include('horarios/_delete_form.html.twig') }}
{% endblock %}
