{% extends 'base.html.twig' %}

{% block title %}Materias{% endblock %}
{% block body %}
    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
            <div class="container-fluid">
                <h4 class="c-grey-900 mT-10 mB-30">Tus Materias</h4>
                <div class="row">
                    <div class="col-md-12">
                        <div class="bgc-white bd bdrs-3 p-20 mB-20">							
                            <table id="dataTable" class="table table-striped table-hover" cellspacing="0" width="80%">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>actions</th>
                                    </tr>
                                </thead>
                                <tbody id='tbody'>
                                    {% for materia in materias %}
                                       <tr>
                                            <td>{{ materia.nombre }}</td>
                                            <td>
                                                <a href="{{ path('materias_edit', {'id': materia.id}) }}"><i class='fa fa-pencil fa-lg'></i></a>
                                                <a class= 'btn btn danger' href="{{ path('materias_delete', {'id': materia.id}) }}"><i class='fa fa-trash-o fa-lg'></i></a>
                                            </td>
                                        </tr>   
                                    {% else %}
                                        <tr>
                                            <td colspan="2">¡No has creado ninguna materia!</td>
                                        </tr>
                                    {% endfor %}                                                   
                                </tbody>
                            </table><br/>
                            <a href="{{ path('materias_new') }}"><i class='fa fa-plus-square fa-2x'></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

{% endblock %}












