{% extends 'base.html.twig' %}

{% block title %}New Materias{% endblock %}

{% block body %}
    <h1>Create new Materias</h1>

    {{ include('materias/_form.html.twig') }}

    <a href="{{ path('materias_index') }}"><i class='fa fa-reply-all fa-2x'></i></a>
{% endblock %}
